@media only screen and (max-width: 640px) {
  body {
    background-image: url("./assets/mobilebackground2.png");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif !important;
  }
}
@media only screen and (min-width: 800px) {
  body {
    background-image: url(./assets/background2.png);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif !important;
  }
}

.text-white {
  color: white;
}

.weather-box {
  background: rgba(54, 57, 60, 0.28);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.8px);
  -webkit-backdrop-filter: blur(2.8px);
  border: 1px solid rgba(54, 57, 60, 0.22);
  padding: 10px;
}

.inner-box {
  background: rgba(34, 31, 31, 0.14);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.4px);
  -webkit-backdrop-filter: blur(5.4px);
  border: 1px solid rgba(34, 31, 31, 0.27);

  margin: 10px;
  padding: 10px;
}

.picture-center {
}
.divider {
  border: solid 1px white;
}

.button-selected {
  /* From https://css.glass */
  background: rgba(20, 57, 207, 0.2) !important;
  box-shadow: 0 4px 30px rgba(20, 57, 207, 0.2) !important;
  backdrop-filter: blur(4.9px) !important;
  -webkit-backdrop-filter: blur(4.9px) !important;
  border: 1px solid rgba(20, 57, 207, 0.2) !important;
}

.lang-button {
  border: 1px solid rgba(54, 57, 60, 0.28) !important;
  background: rgba(54, 57, 60, 0.28) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(2.8px) !important;
  -webkit-backdrop-filter: blur(2.8px) !important;
}
